<% if(messages.error || messages.notice) { %>
  <div class="alert" role="alert">
    <% if(messages.error) { %>
      Validation errors:
      <ul>
        <% messages.error.forEach((err) => { console.log('{MESSEGES.EJS} ERR: ', err); %>
          <li><%= `${err.param} ${err.msg}` %></li>
        <% }) %>
      </ul>
    <% } else { %>
<p><%= messages.notice %></p>
    <% } %>
  </div>
<% } %>