<nav>
  <% if(currentUser) { %>
    <a href='/'>Home</a>
    <a href='/users/sign_out'>Sign out</a>
  <% } else { %>
    <a href='/users/sign_up'>Sign up</a>
    <a href='/users/sign_in_form'>Sign in</a>
  <% } %>
</nav>