<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head.ejs %>
  <body>
    <header>
      <h1>Wall Talk</h1>
      <nav>
        <% if(currentUser) { %>
          <a href='/posts'>The Wall</a>
          <a href='/users/sign_out'>Sign out</a>
        <% } else { %>
          <a href='/users/sign_up'>Sign up</a>
          <a href='/users/sign_in_form'>Sign in</a>
        <% } %>
      </nav>
    </header>
    <main>
      <% include ./partials/messages.ejs %>
      <div>
        <h2>Welcome to the Wall</h2>
      </div>
    </main>
  </body>
</html>