<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wall Talk</title>
    <!-- stylesheetlink -->
  </head>
  <body>
    <header>
      <h1>Wall Talk</h1>
      <nav>
        <% if(currentUser) { %>
          <a href='/users/sign_out'>Sign out</a>
        <% } else { %>
          <a href='/users/sign_up'>Sign up</a>
          <a href='/users/sign_in_form'>Sign in</a>
        <% } %>
      </nav>
    </header>
    <main>
      <div>
        <h2>Welcome to the Wall</h2>
      </div>
    </main>
  </body>
</html>