<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wall Talk</title>
    <!-- stylesheetlink -->
  </head>
  <body>
    <header>This is the "header"</header>
    <main>This is the "main"</main>
  </body>
</html>