<!DOCTYPE html>
<html lang="en">
  <% include ../static/partials/head.ejs %>
  <body>
    <header>
      <h1>The Wall</h1>
      <% include ../static/partials/nav.ejs %>
    </header>
    <main>
      <% include ../static/partials/messages.ejs %>

      <h2>Start sharing on the Wall</h2>

      <% if(currentUser){ %>
        <form action="/posts/create" method="post">
          <div>
            <label for="title">Title</label>
            <input type="text" name="title" ariadescribedby="titleHelp" placeholder="Enter title">
          </div>
          <div>
            <label for="content">Content</label>
            <input type="text" name="content" ariadescribedby="contentHelp" placeholder="Enter content">
          </div>
          <button type="submit">Send message</button>
        </form>
      <% } %>

      <div>
        <% if(posts){ %>
          <% posts.forEach((post) => { %>
            <section>
              <h4><%= post.title %></h4>
              <p><%= post.content %></p>
            <section>
          <% }) %>
        <% } %>
      </div>
    </main>
  </body>
</html>